{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="min-h-screen px-6 py-16" data-aos="fade-up">
  <h2 class="text-3xl font-bold text-center mb-8">📄 Resume</h2>

  <div class="text-center mb-8">
    <a href="{% static 'resume/TUSHAR_RESUME.pdf' %}" download
      class="bg-blue-500 px-6 py-3 rounded hover:bg-blue-600">Download Resume</a>
  </div>

  <iframe src="{% static 'resume/TUSHAR_RESUME.pdf' %}" class="w-full h-screen border rounded-lg"></iframe>
</section>
{% endblock %}
