# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/
.env

# VS Code
.vscode/

# Virtualenv
venv/
env/
ENV/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Heroku
*.coveragerc
instance/
.webassets-cache

# Pip
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Gunicorn
gunicorn.log

# N
