
dj-database-url==1.2.0
django
django-environ
fitz
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
waitress==2.1.2
PyMuPDF==1.26.3
python-decouple
python-dotenv==1.1.1
requests==2.32.4
whitenoise==6.9.0
waitress==2.1.2